@import url('pdf.css');

/* Set bleed/crop marks */
@page {
    /*size: 6in 9in; Commenting out as this causes the page to be too narrow. Now asides and text are the same width */
    size: 6in 9in;
    bleed: 9pt;
    marks: crop;
    -ah-printer-marks-line-color: rgb-icc(#Grayscale, 0);
}

/* Inherit link styling */
a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

/* remove links in parens */
span.print_url_in_parens { display: none }

/* decreasing margins by .7 in */
@page :left {
  margin-left: 0.9in;
  @bottom-left-corner {
    margin-left: 0.0in;
  }
  @top-left {
    margin-left: 0.375in;
  }
}
@page :right {
  margin-right: 0.9in;
  @bottom-right-corner {
   margin-right: 0.0in;
 }
 @top-right {
  margin-right: -0.675in;
 }
}

figure {
  width: 100%;
}

/* decreasing figure margins by .7 in */
figure:not([data-type="cover"]) img {
  width: 4.0725in;
  margin: 0 auto;
}


